{
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-expressions": 0,
    "padded-blocks": 0,
    "strict": [2, "global"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules":true,
      "experimentalObjectRestSpread": true
    }
  }
}
