.input-range__label-container {
  position: relative;
  background: $input-range-label-bg;
  border-radius: $input-range-label-border-radius;
  padding: 2px 5px;
  left: -14px;
  min-width: 18px;
  display: inline-block;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 0;
    border-top: 3px solid $input-range-label-bg;
    top: 100%;
    left: 10px;
  }

  .input-range--rtl & {
    left: auto;
    right: -14px;
    &:after {
      left: auto;
      right: 10px;
    }
  }

  .input-range__label--max & {
    left: 50%;

    .input-range--rtl & {
      left: auto;
      right: 50%;
    }
  }
}

.input-range__label--bottom-min,
.input-range__label--bottom-max{
  position: absolute;
  top: 15px;
  color: $input-range-label-color !important;
  left: 0;
  .input-range__label-container{
    padding: 0;
    background: transparent;
    right: 0;
    left: 0;
    &:after{
      display: none;
    }
  }
  .prefix-text{
    margin-right: 30px;
  }
}
.input-range__label--bottom-max{
  left: auto;
  right: 0;
}

.input-range--rtl {
  .input-range__label--bottom-min,
  .input-range__label--bottom-max{
    right: 0;
    .prefix-text{
      margin-right: 0;
      margin-left: 30px;
    }
  }
  .input-range__label--bottom-max{
    right: auto;
    left: 0;
  }
}
